TestCiCd/obj/Container/VsDbgScript.cache
TestCiCd/obj/Container/VolumeMappings2.cache
TestCiCd/obj/Container/VolumeMappings.cache
TestCiCd/obj/Container/TargetFramework.cache
TestCiCd/obj/Container/OperatingSystemName.cache
TestCiCd/obj/Container/LaunchedImageId.cache
TestCiCd/obj/Container/ImageId.cache
TestCiCd/obj/Container/ImageBuildContext.cache
TestCiCd/obj/Container/FastModeProjectMountDirectory.cache
TestCiCd/obj/Container/DistrolessHelperSupported.cache
TestCiCd/obj/Container/DebuggeeWorkingDirectory.cache
TestCiCd/obj/Container/DebuggeeProgram.cache
TestCiCd/obj/Container/DebuggeeKillProcessCommand.cache
TestCiCd/obj/Container/DebuggeeArguments.cache
TestCiCd/obj/Container/ContainerRuntimeID.cache
TestCiCd/obj/Container/ContainerRunContext.cache
TestCiCd/obj/Container/ContainerOperatingSystemFlavor.cache
TestCiCd/obj/Container/ContainerName.cache
TestCiCd/obj/Container/ContainerId.cache
TestCiCd/obj/Container/ContainerDevelopmentMode.cache
TestCiCd/obj/Container/ContainerCreationResult.cache
TestCiCd/obj/Container/AdditionalProbingPaths.cache
.vs/TestCiCd/v17/.futdcache.v2
.vs/TestCiCd/FileContentIndex/b552a160-e12d-4d12-8e8b-901044309a5f.vsidx
.vs/TestCiCd/FileContentIndex/6acec7da-799e-4f59-aeaa-3c6eadd2704f.vsidx
.vs/TestCiCd/FileContentIndex/650775f9-08ae-48b5-bbeb-089c07816c30.vsidx
.vs/TestCiCd/FileContentIndex/3729ad3c-ab9d-4560-bf6d-21865b0a18c3.vsidx
.vs/TestCiCd/FileContentIndex/27a5f3e0-8090-4582-a3e5-79af6f0a8232.vsidx
.vs/TestCiCd/FileContentIndex/650775f9-08ae-48b5-bbeb-089c07816c30.vsidx
.vs/TestCiCd/FileContentIndex/6acec7da-799e-4f59-aeaa-3c6eadd2704f.vsidx
TestCiCd/obj/Debug/net9.0/TestCiCd.AssemblyInfo.cs
TestCiCd/obj/Debug/net9.0/TestCiCd.AssemblyInfoInputs.cache
TestCiCd/obj/Debug/net9.0/TestCiCd.assets.cache
*.cache
.vs/TestCiCd/FileContentIndex/650775f9-08ae-48b5-bbeb-089c07816c30.vsidx
.vs/TestCiCd/FileContentIndex/6acec7da-799e-4f59-aeaa-3c6eadd2704f.vsidx
TestCiCd/obj/Debug/net9.0/TestCiCd.AssemblyInfo.cs
TestCiCd/obj/Debug/net9.0/TestCiCd.AssemblyInfoInputs.cache
TestCiCd/obj/Debug/net9.0/TestCiCd.assets.cache
.vs/TestCiCd/FileContentIndex/650775f9-08ae-48b5-bbeb-089c07816c30.vsidx
.vs/TestCiCd/FileContentIndex/6acec7da-799e-4f59-aeaa-3c6eadd2704f.vsidx
/.vs
/.vs/TestCiCd/FileContentIndex
/.vs/TestCiCd
/.vs/TestCiCd/FileContentIndex
/.vs/TestCiCd
.vs/TestCiCd/FileContentIndex/6acec7da-799e-4f59-aeaa-3c6eadd2704f.vsidx
.vs/TestCiCd/v17/.suo
.vs/TestCiCd/v17/.suo
/.vs/TestCiCd
*.v2
/.vs/TestCiCd/FileContentIndex
/.vs/TestCiCd/FileContentIndex
/.vs/TestCiCd/FileContentIndex
/.vs/TestCiCd/FileContentIndex
/.vs
/TestCiCd/obj
*.targets
*.props
*.cache
*.pdb
*.targets
/TestCiCd/bin/Debug
/TestCiCd/bin/Debug/net9.0
